[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[user]
	name = Taylor Keazirian

[alias]
clean-branches = !"for b in `git branch --list --merged | grep -v master | grep -v \"*\"`; do git branch -d $b; done"
